.dashboard table {
	min-width: 700px;
	empty-cells: show;
	table-layout: auto;
	margin: 30px 0;
}

.dashboard th {
	position: -webkit-sticky;
  	position: sticky;
	top:0px;
	background-color: rgb(0, 114, 214);
	color: white;
	font-size: 18px;
}

th, td {
	width: 20%;
	padding: 10px;
	/* text-align: center; */
	border-right: 2px solid white;
}

td {
	font-size: 15px;
	
}

tr:nth-child(even) {
	background-color: rgb(0, 114, 214, 0.1);
}

tbody > tr:hover {
	background-color: rgb(0, 114, 214, 0.8);
	color: white;
	cursor: pointer;
}

#stats {
	display: flex;
	justify-content:space-evenly;
	align-items: center;
}

.piechart {
	display: flex;
	align-items: center;
}

[colordata="#f0ad4e"]::before {background-color:#f0ad4e !important}
[colordata="#0072d6"]::before {background-color:#0072d6 !important}

.piechart_label {
	font-size: 20px;
	padding: 3px;
}

.piechart_label::before {
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 10px;
	border-radius: 50%;
	background-color: red;
}

#nb_reponse {
	font-size: 20px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 200px;
}

#nb_reponse span {
	font-size: 50px;
}

.userList button {
	float: right;
	margin-bottom: 20px;
	font-size: 20px;
}

@media screen and (min-width: 720px) {

}